html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #393939;
}

p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #393939;
}

blockquote {
    margin: 1.25em;
    padding: 1.25em;
}

q {
    font-style: italic;
}

acronym, abbr {
    cursor: help;
    border-bottom: 1px dashed;
}

small {
    font-size: .85em;
}

big {
    font-size: 1.2em;
}

b {
    font-weight: 400;
}

img {
    border: none;
}

table, tr, td {
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
}

form {
    margin: 0;
    padding: 0;
    display: inline;
}

label {
    cursor: pointer;
}

.clr {
    clear: both;
}